@using Microsoft.AspNetCore.Components.Sections
@page "/"

<PageTitle>Home</PageTitle>
@* <SectionContent SectionName="TestSection"> *@
@*     Hello from Home *@
@* </SectionContent> *@

<h1>Hello, world!</h1>

Welcome to your new app.